/* ALL LAYOUTS */
.story-card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-bottom: 8px solid blue;
    padding: 70px 45px;
}

.story-card__content {
    width: 55%;
}
.story-card img{
    width: 45%;
    object-fit: cover;
}


.story-card h1{
    font-size: 3.125rem;
}
.story-card p{
    font-size: 1.625rem;
}

/* LAYOUT 1 */

.layout-one.story-card .story-card__content{
    order:1;
    padding-right: 48px;
}
.layout-one.story-card img{
    order:2;
}

/* LAYOUT 2 */
.layout-two.story-card .story-card__content{
    order:2;
    padding-left: 48px;
}
.layout-two.story-card img{
    order:1;
}

/* LAYOUT 3 */
.layout-three.story-card{
    flex-direction: column;
}
.layout-three .story-card__content{
    text-align: center;
}
.layout-three img{
    visibility: hidden;
}
.layout-three .story-card__content {
    position: relative;
    width: 100%;
    padding: 75px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}
.layout-three .story-card__content .ui.large.button {
    margin:auto;
}






@media only screen and (max-width: 950px) {
    .story-card{
        flex-direction: column;
    }
    .story-card .padding-left{
        padding-left: 0px;
    }
    .story-card .padding-right{
        padding-right: 0px;
    }

    .story-card h1, p{
        text-align: center;
    }


    /* LAYOUT 1 */
    .layout-one.story-card .story-card__content{
        width: 100%;
        order:1;
        padding-right: 0px;
        text-align: center;
    }
    .layout-one.story-card .story-card__content .ui.large.button{
        margin: auto
    }
    .layout-one.story-card img{
        width: 100%;
        object-fit: cover;
        order:2;
    }
    
    /* LAYOUT 2 */
    .layout-two.story-card .story-card__content{
        width: 100%;
        order:1;
        padding-left: 0px;
        text-align: center;
    }
    .layout-twoe.story-card .story-card__content .ui.large.button{
        margin: auto
    }
    .layout-two.story-card img{
        width: 100%;
        object-fit: cover;
        order:2;
    }

  }