.step-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 340px;
    margin: auto;

    text-align: center;
    min-height: 500px;
}

.ui.large.button.step-btn{
    color: white;
    background-color: #6073fe;
 
    font-weight: normal;
}

.ui.large.button.step-btn:hover{
    background-color: #2ed0f6;
}

.step-heading h5{
    margin: 0px;
}

.step-heading h1{
    margin: 0px 0px .4em;
}

.step-body{
    margin-top: 17px;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.step-body p{
    list-style-type: none;
    font-size: 17px;
    padding-bottom: 17px;
    margin: 0px;
}
.step-body i{
    margin-top: 4px;
    margin-right: 15px;
    color: #2ed0f6;
    float: left;

    height: 30px;
}
.step-logo{
    margin-top: 100px;
    margin-bottom: 20px;
}
.step-container .step-body{
    text-align: left;
}

.step-padding{
    padding: 60px 32px 150px;
}